@font-face {
  font-family: "Century Gothic";
  src: url('fonts/CenturyGothic.ttf');
}

.book-nav {
  height: 50px;
  width: 100%;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0,0,0,.07);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.book-nav .title {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.book-nav .logo {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-size: 35px 35px;
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
}
.book-nav h2 {
  margin: 0;
  padding-left: 10px;
  font-size: 1.7em;
  line-height: 1.7em;
}
.book-nav .menu {
  display: none;
}

.links {
  display: flex;
  align-items: center;
}
.links .link {
  display: inline-block;
  padding: 0 10px;
}
.links a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  .book-nav h2 {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .book-nav {
    flex-direction: column;
    justify-content: center;
  }
  .book-nav .menu { 
    display: initial;
    position: absolute;
    align-self: flex-end;
    font-size: 1.5em;
  }
  .links {
    display: none;
  }
  .links.visible {
    position: absolute;
    z-index: 10;
    top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
  } 
  .links .link {
    padding: 5px 15px 0;
    align-self: flex-start;
  }
}


.book-summary, .book-body {
  top: 50px;
}

.gitbook-link {
  display: none !important;
}

.markdown-section h2 {
  font-size: 1.5em;
}

.brand-copy, h1.brand-copy {
  font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #11599c;
}

#home-header { 
  text-align: center; 
}
#home-header h1 {
  font-size: 36px;
  margin-top: 10px;
}
#main-logo {
  height: 130px;
}

figure {
  margin: 2em 0;
}
.markdown-section figcaption {
  font-style: italic;
  font-size: 0.875em;
}